/* CSS INSTADOG */

* body {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #e2dfdf;
    font-size: 18px;
}
.navbar{
    min-height: 60px;
}

/* COULEURS DES INSTRUCTIONS */
.navbar-inverse .navbar-nav>li>a {  
    color: #7e3d08;
} 

.navbar-inverse .navbar-nav>li>a:hover {  
    color: #030303;
}
.fontBar {
    font-size: 20px;
}
.radio-inline{
    font-size: 18px;
}

.jumbotron {
        color: #ffffff; 
        background-color: #7e3d08;
        border-style: solid;
        border-color: black;

    }  

.navbar-inverse {
    background: #ffffff;
}
.thumbnail img {
    height: 210px;
    width: 270px;
    border:solid;
    border-radius: 2%;
}

.thumbnail{
    background-color: #e2dfdf;
    border: none;
}
#date-input {
    line-height: 20px;
}
.logo{
    padding-top: -5px;
    height: 30px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
 background-color: #DDD;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #7e3d08;
   }
.formulaire {
    padding: 100px;
}
h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    font-style: oblique;
    padding: 10px;
    text-shadow: #7e3d08 1px 1px;
    margin-bottom: 20px;
}
h4 {
    font-size: 28px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-style: oblique;
    padding: 10px;
    text-shadow: #7e3d08 1px 1px;
}
.btn-primary{
    background: #7e3d08;
}
.btn-primary:hover{
    background: #fff;
    border-color: #ff6804;
}
.btn:hover{
    background: #030303;
}
.nameDetails.pedigree{
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    border-color: #030303;
    border-style: none;
}
.btn-group-lg > .btn, .btn-lg {
    font-size: 25px;
    background-color: #ff6804;
}

a{
    color: #7e3d08;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #030303;
}
.pager li > a {
    border: 1px solid #7e3d08;
}
.pager li > a:hover {
    border: 1px solid #030303;
}
p {
    text-align: center;
    padding: 15px;
}

.artc {
    text-align: left;  
    font-size: large;
    margin-top: 20px; 
}
.userName {
    background-color: #ff6804;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.answer {
    font-size: 18px;
}
.imgar {
    height: auto;
    width: auto;
    margin-top: 100px; 
    border-radius: 2%;
    text-align: center;
}
.zcomm {
    margin: 100px;
    text-align: center;
}

.compte-chien-img{
    border:5px solid white;
    object-fit:cover;
    padding:0px;
}

.posDog{
    position:relative;
    
}
.nameDetails{
    font-style: oblique;
    background: #ff6804;
}

.pedigree{
    margin-bottom: 6%;
}
.suppression{
    margin-top: 5%;
    padding: 2%;
    text-align: center;
}
.rechercheArticle {
    text-shadow: #2a2a2a 1px 1px;
    font-style: oblique;
}
